<!DOCTYPE html>
<html>
  <head>
    <title>Cheapest Array Adjustment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cheapest Array Adjustment</h1>
	    <p>
	    	Given an array of numbers (e.g 5,4,3,2,8) what is the number X such that each element of the array can be modified by +/-[0,X] to create an array that is strictly ascending.<br/>
		    <br/>
		    For the example 5,4,3,2,8 then X is 3.<br/>
		    5 -> 2<br/>
		    4 -> 3<br/>
		    3 -> 4<br/>
		    2 -> 5<br/>
		    8 -> 8<br/>
		    <form action="/" method="get">
		    	<input type="text" name="array" value="5,4,3,2,8" />
		    	<input type="submit" value="Find Cheapest Change" />
			</form>
	    </p>
  </body>
</html>